
.trigger{/*---------------------------------- FUNDO DA BOLA ----------------------------------------*/
    width: 50px;
    height: 22px;
    background-color: whitesmoke;
    border-radius: 150px;
    position: relative;
    cursor: pointer ;
}

.trigger .indicador /*----------------------- BOLA -------------------------------------------------*/
{
    width: 25px;
    height: 22px;
    background-color: #111827;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left:0;
    transition: .5s;
}

.trigger.dark/*------------------------------ FUNDO DA BOLA QUANDO A TEMA É DARK -------------------*/
{
    background-color: #111827;
}

.trigger.dark .indicador/*------------------- BOLA QUANDO O TEMA É DARK ----------------------------*/
{
    left: 23px;
    background-color: rgb(255, 255, 255);
    border: #000;
}
body.dark /*--------------------------------- BODY QUANDO O TEMA É DARK ----------------------------*/
{
    background-color: #111827;
    color:whitesmoke; 
}
