@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body
{
    background-color: whitesmoke;
}

.main-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-wrap .product{
    width: 90%;
    max-width: 750px;
    display: flex;
}
.main-wrap .product .image-gallery{
    flex-basis: 43%;
    background: rgb(9, 47, 77);
    box-shadow: 0px 7px 10px #8A391E;
    transform: scale(1.07);
    position: relative;
    max-height: 700px;
    border-radius: 17px;
}

.main-wrap .product .image-gallery img{
    width: 100%;
    padding-top: 150px;
    transform: translate(0px,-90px);
}
.main-wrap .product .image-gallery .controls{
    position: absolute;
    bottom: 40px;
    right: 20px;
    padding: 0px;
}
.main-wrap .product .image-gallery .controls .btn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    transform: translate(-123px,-10px);
}
.main-wrap .product .image-gallery .controls .btn.active{
    background: #00b4d8;
}
.main-wrap .product .product-details{
    flex-basis: 53%;
    background-color: #bbbaba;
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px 40px 40px;
    border-radius: 0px 15px 15px 0px ;
}
.main-wrap .product .product-details .details
{
    margin-bottom: 20px;
}

.main-wrap .product .product-details .details h2
{
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 10px;
    color:#8A391E
}
.main-wrap .product .product-details  .details h3  /*texto abaixo do titulo*/
{
    font-size:20px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 10px;
    color:rgb(67, 75, 69)
}
.main-wrap .product .product-details .details h4
{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    color:#353130;
    margin-bottom: 10px;
}

.main-wrap .product .product-details .details p
{
    font-size: 15px;
    font-weight: 500;
    color:#011627;
    line-height: 25px;
}

/*------------------------------------------------------------------------------------------------*/


.main-wrap .product .product-details .colors
{
    margin-bottom: 20px;
    
}


.main-wrap .product .product-details .colors .form .select-color
{
    display: flex;
    align-items: center;
}

.main-wrap .product .product-details .colors .form .select-color .h3{
    width: 70px;
    font-size: 20px;
    margin-right: 30px;
    font-weight: 500;
}

.main-wrap .product .product-details .colors .form .select-color label
{
    display: flex;
    align-items: center;
}

.main-wrap .product .product-details .colors .form .select-color input
{
    display: none;
}

.main-wrap .product .product-details .colors .form .select-color span
{
    display: inline-block;
    width:15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}


.main-wrap .product .product-details .colors .form .select-color .color-1
{
    background: rgb(255, 25, 0);
}

.main-wrap .product .product-details .colors .form .select-color .color-2
{
    background-color: dodgerblue;
}


.main-wrap .product .product-details .colors .form .select-color .color-3
{
    background-color: rgb(255, 0, 157);
}


.main-wrap .product .product-details .colors .form .select-color .color-4
{
    background-color: rgb(21, 255, 0);
}
.main-wrap .product .product-details .colors .form .select-color label input:checked + span {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #011627;
}

.color-1, .color-2, .color-3, .color-4 {
    margin: 10px;
}

#cores
{
    color:black;
}

#star{
    scale: 1.5;
    transform: translate(-302px,-150px);
}
.teste{
    color: #ff9f43
}


/*-------------------------------------------------------------------------------------------*/
@media(max-width:595px){
    
    .main-wrap .product{
        width: 90%;
        max-width: 750px;
        display: flex;
    }
    
    .main-wrap .product .image-gallery{ /*------------------------------ FOTOS DO PRODUTO ----------------------------------------*/
        width: 100%;
        
    }
    
    .main-wrap .product .image-gallery img{ 
        width: 370px;
        padding-top: 150px;
    }
    
    .main-wrap .product .image-gallery .controls{
        position: absolute;
        bottom: 40px;
        right: 20px;
    }
    
    .main-wrap .product .image-gallery .controls .btn.active{
        background: #00b4d8;
    }
    
    .main-wrap .product .product-details{ /*------------------------------ FUNDO DA INFORMAÇÕES DO PRODUTO ----------------------------------------*/
        position: relative;
        z-index: -1;
        top: 515px;
        right: 380px;
    }
    
    .main-wrap .product .product-details .details /*---------------------- INFORMAÇÕES PRODUTOS ---------------------------------------------------*/
    {
        margin-bottom: 30px;
        border-radius: 17px;
    }
    
    .main-wrap .product .product-details .details h2
    {
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;
        margin-bottom: 10px;
        color:#8A391E
    }
    .main-wrap .product .product-details  .details h3  /*texto abaixo do titulo*/
    {
        font-size:20px;
        font-weight: 600;
        line-height: 35px;
        margin-bottom: 10px;
        color:rgb(67, 75, 69)
    }
    .main-wrap .product .product-details .details h4
    {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
        color:#353130;
        margin-bottom: 10px;
    }
    
    .main-wrap .product .product-details .details p
    {
        font-size: 15px;
        font-weight: 500;
        color:#011627;
        line-height: 25px;
        width: 320px;
    }
    
}

.star
{
    color:white;
}
