@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{ /*------------------------------------ Configurações Gerais da Página ---------------------------------------- */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{ /* -------------------------------- Configurações Body da Página -------------------------------------------*/
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

img{ /* --------------------------------- Estelização da IMG Logotipo da Empresa ---------------------------------*/
    width: 100px;
    height: 130px;
}

.voltar
{
    color: gray;
    padding: 4px;

}

.container{ /* -------------------------- Retânugulo localizado atrás dos outros elementos -----------------------*/
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    height: 600px;
    max-width: 100%;
    min-height: 560px;
}

.container p{ /* ------------------------ Texto emcima do botão de Criar Conta e Login --------------------------*/
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{ /* --------------------- Texto abaixo do Login e Criar Conta -----------------------------------*/
    font-size: 12px;
}

.container a{ /* ------------------------ Texto "Esqueceu a Pasword" --------------------------------------------*/
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{/* -------------------- Bõtoes de Login, Criar Conta e Mostrar Password -----------------------*/
    background-color: #8A391E;
    color: #fff; /*Cor texto do bottão */
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{ /* ------------ Botão de mudar de página ----------------------------------------------*/
    background-color: transparent;
    border-color: #ffffff;
}

.container form{ /* --------------------- Forms do Login e Registro ---------------------------------------------*/
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{  /* ------------------- Caixas de texto(input) da página --------------------------------------*/
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 30px;
    width: 100%;
    outline: none;
}

.form-container{ /* --------------------- Formulário de Login e Registo -----------------------------------------*/
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{ /* ---------------------------- Formulário de Login ---------------------------------------------------*/
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{ /* ---------- Movimentação do Forms de Login ao clicar no Botão de "Criar Conta" ----*/
    transform: translateX(100%);
}

.sign-up{ /* ---------------------------- Formulário de Registro ------------------------------------------------*/
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{ /* ---------- Movimentação do Forms de Registo ao clicar no Botão de "Login" --------*/
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{ /* --------------------- Criação da Aminação ---------------------------------------------------*/
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{ /* ------------------- Parte de Mudar para o formulário de "Criar Conta" ---------------------*/
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 170px 0 0 170px;
    z-index: 1000;
}

.container.active .toggle-container{ /* - Parte de Mudar para o formulário de "Login" ---------------------------*/
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{ /* ----------------------------- Parte Móvel que faz a aminação  ---------------------------------------*/
    background-color: #ff0000;
    height: 100%;
    background: linear-gradient(to right, #004259, #004259); /*Cor funda da mancha  Login*/
    color: #ffffff; /*cor do texto da mancha*/
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{ /* ----------- Texto abaixo do "Bem-vindo"  ------------------------------------------*/
    transform: translateX(50%);
}

.toggle-panel{ /* ----------------------- Texto abaixo do "Bem-vindo" e "Bem-vindo de Volta"  -------------------*/
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

button:hover{ /* ------------------------ Bõtoes de Login, Criar Conta e Mostrar Password quando passa o rato em cima -*/
    transition: all linear 100ms;
    cursor: pointer;
    background-color: #d36b49;
    transform: scale(1.05);
}

.input:focus {/* ------------------------ Input's quando estão em focus(quando está selecionado) -----------------*/
    border: 1px solid #8A391E;
    border-radius: 10px;
    transition: .4s;
}


@media (max-width:655px){/* ------------ Definições Página quando Width é menor que 655 -------------------------*/
    
    #logoReg
    {
        transform: translate(0px, 30px);
    }

    .container{ /* -------------------------- Retânugulo localizado atrás dos outros elementos -----------------------*/
        min-height: 534px;
    }
}