@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{/*----------------------------------------- DEFINIÇÕES DEFAULT DA PÁGINA -------------------------*/
    margin:0px 0px 5px 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{/*-------------------------------------- BODY -------------------------------------------------*/
    background-color: whitesmoke;
    color: #3d3c3b;
}
.texto{ /*----------------------------------- TEXTO INFORMATIVO SOBRE A JFA ------------------------*/  
    border-radius: 6px;
    width: 80%;
    border:solid 2px;
    border-color:black;
}

h2/*----------------------------------------- TÍTULO -----------------------------------------------*/
{
    transform: translate(0px,-10px);
}

p/*------------------------------------------ PARÁGRAFO --------------------------------------------*/
{
    transform: translate(0px, -10px);
}
