body{/*-------------------------------------- BODY ------------------------------------------------*/
    margin:0;
}

h3/*----------------------------------------- TEXTO PRINCIPAL --------------------------------------*/
{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color:  #004259;
}

#logoReg/*----------------------------------- LOGOTIPO EMPRESA -------------------------------------*/
{
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.gallery/*----------------------------------- DIV QUE CONTÉM TODO ----------------------------------*/
{   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    margin-top: 10px;
}

.content/*----------------------------------- CAIXA DA IMAGENS (ONDE CONTÉM AS IMAGENS) ------------*/
{
    width: 20%;
    margin:15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor:pointer;
    padding-top:10px;
    box-shadow: 0 6px 17px #004259,0 10px 10px #004259;
    transform: .4s;
    background-color: rgb(238, 238, 238);
    height: 406.5px;
}

.content:hover/*----------------------------- EFEITO HOVER DA CAIXA DE IMAGEM ----------------------*/
{
    box-shadow: 0 7px 7px darkslateblue, 0 7px 7px darkslateblue;
    transform: translate(0px, -8px);
}

img/*---------------------------------------- IMAGENS ----------------------------------------------*/
{
    width: 200px;
    height:200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

p/*------------------------------------------ TEXTO EXPLICATIVO ------------------------------------*/
{
    text-align: center;
    color: lightslategray;
    padding-top: 0 8px;
    transform: translate(0,2px);
}

h6
{
    font-size: 28px;
    text-align: center;
    color: slategray;
    margin: 0;
    border: black 3px;
}

button/*------------------------------------- BOTÃO "VER MAIS" -------------------------------------*/
{
    text-align: center;
    font-size: 24px;
    color:rgb(255, 255, 255);
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 0 0 20px 20px;
}

.VerMais
{
    background-color: #8A391E;
}

.VerMais2
{
    background-color: #8A391E;
}

.VerMais3
{
    background-color:#8A391E;
}

.VerMais4
{
    background-color: #8A391E;
}


@media(max-width:1000px)/*------------------- MEDIA ------------------------------------------------*/
{
    .content
    {
        width:450%;
        
    }
}

@media (max-width:750px){
    .content{
        width:100%;
    }
}

nav .botaoDark
{
    transform: translate(-16px,5px);
}