body{/*-------------------------------------- BODY ------------------------------------------------*/
    margin:0;
    height: 100%;
    overflow:auto; /*hidden - Bloquea | auto - Scroll*/
}

h3/*----------------------------------------- TEXTO PRINCIPAL --------------------------------------*/
{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color:  #004259;
}

#logoReg/*----------------------------------- LOGOTIPO EMPRESA -------------------------------------*/
{
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.gallery/*----------------------------------- DIV QUE CONTÉM TODO ----------------------------------*/
{   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    margin-top: 10px;
    height: 100%;
    overflow: none; /*hidden - Bloquea | nome - Scroll*/

    transition: margin-left 0.5s;
}

.gallery.pequena{/*-------------------------- DIV QUE CONTÉM TODO ----------------------------------*/
    margin-left: 22%; /* Ajustar conforme a largura do filtro */
}

.content/*----------------------------------- CAIXA DA IMAGENS (ONDE CONTÉM AS IMAGENS) ------------*/
{
    position: relative;
    width: 20%;
    margin:15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top:10px;
    box-shadow: 0 6px 10px #8A391E,0 6px 10px #8A391E;
    transform: .4s;
    background-color: rgb(228, 224, 224); 
    height: 406.5px;
}

.content:hover/*----------------------------- EFEITO HOVER DA CAIXA DE IMAGEM ----------------------*/
{
    box-shadow: 0 6px 10px #d44718,0 6px 10px #d44718;
    transform: translate(0px, -8px);
}

img/*---------------------------------------- IMAGENS ----------------------------------------------*/
{
    width: 200px;
    height:200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p/*------------------------------------------ TEXTO EXPLICATIVO ------------------------------------*/
{
    text-align: center;
    color: lightslategray;
    padding-top: 0 8px;
    transform: translate(0,2px);
}

h6
{
    font-size: 28px;
    text-align: center;
    color: slategray;
    margin: 0;
    border: black 3px;
}

.VerMais/*------------------------------------- BOTÃO "VER MAIS" -------------------------------------*/
{
    text-align: center;
    font-size: 24px;
    color:rgb(255, 255, 255);
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 0 0 20px 20px;
}

.VerMais
{
    background-color: #004259;
}



.filtro {
    background-color: rgb(216, 215, 215);
    border-radius: 0px 50px 50px 0px;
    position: fixed;
    height: 450px;
    top: 134px;
    left: 0;
    width: 23%;
    text-align: center;
    display: block;
    transition: transform 0.5s, opacity 0.5s, width 0.5s;
    overflow: hidden;
    z-index: 1;
    color:#004259;
}


.filtro.hide {
    transform: translateX(-100%);
    opacity: 0;
}

#botao{
    background-color: orange;
    position: absolute;
    top: 630px;
    left: 70px;
    width: 100px;
}

nav .botaoDark
{
    transform: translate(-16px,5px);
}

#filter
{
    position: absolute;
    scale: 1.5;
    transform: translate(24px,104px);
    display: auto;
}


#fechaFiltro
{
    scale:1.5;
    transform:translate(-75px,11px);
}


#filter.activeFunil
{
    position: absolute;
    scale: 1.5;
    display: flex;
    
}

#inputFiltro{
    border-radius: 30px;
    border: none;
    outline: none;
    transition: .5;
}

#inputFiltro:focus{
    border: solid 1px black;
    border-radius: 10px;
    transition: .3 ease ;
}

input[type="reset"], input[type=submit]{
    border-radius: 5px;
    border:none;
}

#aplicar{
background-color:transparent;
padding: 4px;
border: 1px solid grey;
border-radius: 7px;
}

#limpar{
    background-color:transparent;
    padding: 4px;
    border: 1px solid grey;
    border-radius: 7px;
}

#aplicar:hover
{
    background-color: #8A391E;
    color: white;
    border-color: #8A391E;
    transition: .2s;
}

#limpar:hover
{
    background-color: #8A391E;
    border-color:#8A391E ;
    color:white;
    transition: .2s;
}

#tamanho{
    background-color: transparent;
    border-radius: 7px;
}

#cores{ 
    background-color: transparent;
    border-radius: 7px;}

#gramagem{ 
    background-color: transparent;
    border-radius: 7px;
    border:1px solid grey;
}

#tamanho:hover{
    
    transition: .2s;
    }
    
#cores:hover{ 

    transition: .2s;
    }
    
#gramagem:hover{ 

    transition: .2s;
}
/*------------------- MEDIA ------------------------------------------------*/

@media(max-width:1075px)
{
    #logo
    {
        transform: translate(0px,4px);
    }

    .content
    {
        height: 80%;
    }

    .VerMais
    {
        transform: translate(0px,5px);
    }

    #filter{
        transform: translate(16px,17px);
    }

    #fechaFiltro
    {
        transform: translate(-61px,16px);
    }

    img{
        height: 150px;
        width:150px
    }

    p{
        width: 95%;
    }
}


@media(max-width:1000px)
{
    .content
    {
        width:85%;
    }

    #filter
    {
        transform: translate(10px,17px);
    }
}

@media (max-width:880px)
{
    #fechaFiltro
    {
        transform: translate(-47px,16px);
    }
}

@media (max-width:750px){
    .content{
        width:85%;
    }
}

@media (max-width:700px)
{
    .content
    {
        width: 75%;
    }

    .filtro
    {
        width: 27%;
    }


}

@media (max-width:650px)
{
    .filtro
    {
        width:100%;
        border-radius: 0px;
    }

    #filter
    {
        transform: translate(21px,16px);
    }

    #fechaFiltro
    {
        transform: translate(-190px,16px);
    }
}

@media (max-width:600px)
{
    #fechaFiltro
    {
        transform: translate(-172px,16px);
    }
}


@media (max-width:550px)
{
    #fechaFiltro
    {
        transform: translate(-158px,16px);
    }
}

@media (max-width:500px)
{
    #filter
    {
        transform: translate(12px,14px);
    }


    #fechaFiltro
    {
        transform: translate(-148px,10px);
    }
}

@media(max-width:480px)
{
    #fechaFiltro
    {
        transform: translate(-143px,13px);
    }
}   

@media (max-width:455px)
{
    #fechaFiltro
    {
        transform: translate(-134px,13px);
    }
}

@media (max-width:430px)
{
    #fechaFiltro{
    transform: translate(-125px,13px);
    }

    .scrollTop
    {
        transform:translate(15px,0px);
    }
}

@media (max-width:401px)
{
    #fechaFiltro
    {
        transform: translate(-117px,13px);
    }
}


@media (max-width:375px)
{
    #fechaFiltro
    {
        transform: translate(-107px,13px);
    }
}

@media (max-width:354px)
{
    #fechaFiltro
    {
        transform: translate(-98px,13px);
    }
}

@media (max-width: 320px)
{
    .scrollTop{
       scale:0.7;
       transform: translate(33px,0px); 
    }
}

@media (max-width:315px)
{
    #filter
    {
        transform: translate(8px,14px);
    }

    #fechaFiltro
    {
        transform: translate(-91px,13px);
    }
}
